{% extends 'base.html' %} 
{% block title %} 
Home 
{% endblock %} 

{% load static %}
{% block content %}
<body>

    <nav>
        <div class="nav-left">
            <img src="{% static 'images/devops.png' %}" alt="Logo">
            <input type="text" placeholder="Search Mediabook..">
        </div>

        <div class="nav-middle">
            <a href="#" class="active">
                <i class="fa fa-home"></i>
            </a>

            <a href="#">
                <i class="fa fa-user-friends"></i>
            </a>

            <a href="#">
                <i class="fa fa-play-circle"></i>
            </a>

            <a href="#">
                <i class="fa fa-users"></i>
            </a>
        </div>

        <div class="nav-right">
            <span class="profile"></span>

            <a href="#">
                <i class="fa fa-bell"></i>
            </a>

            <a href="#">
                <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </nav>


    <div class="container">
        <div class="left-panel">
            <ul>
                <li>
                    <span class="profile"></span>
                    <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
                </li>
                <li>
                    <i class="fa fa-user-friends"></i>
                    <p>Friends</p>
                </li>
                <li>
                    <i class="fa fa-address-book"></i>
                    <p>About</p>
                </li>
                <li>
                    <i class="fa fa-user-circle"></i>
                    <p>My Page</p>
                </li>
                <li>
                    <i class="fa fa-bookmark"></i>
                    <p>Bookmark</p>
                </li>
                <li>
                    <i class="fab fa-facebook-messenger"></i>
                    <p>Messages</p>
                </li>
                <li>
                    <i class="fa fa-bullhorn"></i>
                    <p>Notification</p>
                </li>
                <li>
                    <i class="fa fa-edit"></i>
                    <p>Settings</p>
                </li>
            </ul>

            <div class="footer-links">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Advance</a>
                <a href="#">More</a>
            </div>
        </div>


        <div class="middle-panel">
            <div class="story-section">

                <div class="story create">
                    <div class="dp-image">
                        <img src="./images/dp.jpg" alt="Profile pic">
                    </div>
                    <span class="dp-container">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span class="name">Create Story</span>
                </div>


                <div class="story">
                    <img src="./images/model.jpg" alt="Anuska's story">
                    <div class="dp-container">
                        <img src="./images/girl.jpg" alt="">
                    </div>
                    <p class="name">Anuska Sharma</p>
                </div>

                <div class="story">
                    <img src="./images/boy.jpg" alt="Story image">
                    <span class="dp-container">
                        <img src="./images/dp.jpg" alt="Profile pic">
                    </span>
                    <span class="name">Gaurav Gall</span>
                </div>

                <div class="story">
                    <img src="./images/mountains.jpg" alt="Story image">
                    <span class="dp-container">
                        <img src="./images/boy.jpg" alt="Profile pic">
                    </span>
                    <span class="name">Priyank Saksena</span>
                </div>

                <div class="story">
                    <img src="./images/shoes.jpg" alt="Story image">
                    <span class="dp-container">
                        <img src="./images/model.jpg" alt="Profile pic">
                    </span>
                    <span class="name">Pragati Adhikari</span>
                </div>
            </div>

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="choice" value="post_create">
                <div class="post create">
                    <div class="post-top">
                        <div class="dp">
                            <img src="" alt="">
                        </div>
                        <input name="text" type="text" placeholder="What's on your mind, {{ request.user.first_name }} ?" />
                    </div>
                    
                    <div class="post-bottom">
                        <div class="action">
                            <i class="fa fa-video"><input type="file" name="video"></i>
                            <span>Video</span>
                        </div>
                        <div class="action">
                            <i class="fa fa-image"><input type="file" name="image"></i>
                            <span>Photo</span>
                        </div>
                    </div>
                    <button class="post_button" type="submit">Post</button>
                </div>
            </form>

            <div class="post">
            {% for post in posts %}
                <div class="post-top">
                    <div class="dp">
                        <img src="{% static 'images/girl.jpg' %}" alt="">
                    </div>
                    <div class="post-info">
                        <p class="name">{{ post.user.first_name }} {{ post.user.last_name }}</p>
                        <span class="time">{{ post.pub_date }}</span>
                    </div>
                    <i class="fas fa-ellipsis-h"></i>
                </div>

                <div class="post-content">
                   <p> {{ post.text }} </p>
                   {% if post.image %}
                   <img src="{{ post.image.url }}" alt="">
                   {% endif %}
                   {% if post.video %}
                   <video controls>
                    <source src="{{ post.video.url }}" type="video/mp4">
                    <source src="{{ post.video.url }}" type="video/ogg">
                  </video>
                   {% endif %}
                </div>
                
                <div class="post-bottom">
                    <div class="action">
                        <i class="far fa-thumbs-up"></i>
                        <span>Like</span>
                    </div>
                    <div class="action">
                        <i class="far fa-comment"></i>
                        <span>Comment</span>
                    </div>
                    <div class="action">
                        <i class="fa fa-share"></i>
                        <span>Share</span>
                    </div>
                </div>
            {% endfor %}
            </div>
            
        </div>
        <div class="right-panel">
            <div class="pages-section">
                <h4>Your pages</h4>
                <a class='page' href="#">
                    <div class="dp">
                        <img src="./images/logo.png" alt="">
                    </div>
                    <p class="name">Cody</p>
                </a>

                <a class='page' href="#">
                    <div class="dp">
                        <img src="./images/dp.jpg" alt="">
                    </div>
                    <p class="name">Cody Tutorials</p>
                </a>
            </div>

            <div class="friends-section">
                <h4>Friends</h4>
                <a class='friend' href="#">
                    <div class="dp">
                        <img src="./images/dp.jpg" alt="">
                    </div>
                    <p class="name">Henry Mosely</p>
                </a>

                <a class='friend' href="#">
                    <div class="dp">
                        <img src="./images/shoes.jpg" alt="">
                    </div>
                    <p class="name">George</p>
                </a>

                <a class="friend" href="#">
                    <div class="dp">
                        <img src="./images/boy.jpg" alt="">
                    </div>
                    <p class="name">Aakash Malhotra</p>
                </a>

                <a class="friend" href="#">
                    <div class="dp">
                        <img src="./images/model.jpg" alt="">
                    </div>
                    <p class="name">Ragini Khanna</p>
                </a>

                <a class="friend" href="#">
                    <div class="dp">
                        <img src="./images/boy.jpg" alt="">
                    </div>
                    <p class="name">Justin Bieber</p>
                </a>

                <a class="friend" href="#">
                    <div class="dp">
                        <img src="./images/dp.jpg" alt="">
                    </div>
                    <p class="name">Ramesh GC</p>
                </a>

                <a class="friend" href="#">
                    <div class="dp">
                        <img src="./images/model.jpg" alt="">
                    </div>
                    <p class="name">Sajita Gurung</p>
                </a>
                
            </div>
        </div>
    </div>

</body>
{% endblock %}
